body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;

}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    height: 100vh;
    color: #FFD700; /* Gold color for stars */
}