@font-face {
    font-family: 'RestoHeader';
    src: url(../Fonts/BattlesbridgeDemoRegular.ttf);
}

@font-face {
    font-family: 'Headname';
    src: url(../Fonts/Bravecho.otf);
}

@font-face {
    font-family: 'dishheader';
    src: url(../Fonts/PerfectbomberfreepersonaluseSc-PVqmd.otf);
}

@font-face {
    font-family: 'navtitle';
    src: url(../Fonts/Tanker-Regular.otf);
}

@font-face {
    font-family: 'dishDetails';
    src: url(../Fonts/The\ Glorious-Regular.otf);
}

@font-face {
    font-family: 'searchbar-btn';
    src: url(../Fonts/lemon\ LEMONMILK-Medium.otf);
}

@font-face {
    font-family: 'headN';
    src: url(../Fonts/Melodrama_Complete/Melodrama-Medium.otf);
}

.dropdown-toggle-no-carret::after {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.header {
    padding-top: 3px !important;
}

body {
    background-color: #222831 !important;
    height: 100vh;
}

.input-group-text {
    border-radius: 10px !important;

}

.form-control {
    left: 10px !important;
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar-nav {
    padding-left: 50px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    justify-content: space-between !important;
    gap: 7rem;
    margin-right: unset !important;
}

.search-form {
    padding-left: 50px;
    position: relative;
    top: 10px;
    opacity: 0.3;
}

.dropdown-item {
    color: white !important;
    font-family: 'dishheader', sans-serif !important;
    font-size: 30px !important;
    padding-top: 15px !important;
    background-color: #1f5063 !important;
}

.nav-item {
    padding: 0px !important;
    display: flex !important;
    flex-direction: column !important;
    font-family: 'navtitle', sans-serif !important;
    font-size: 25px !important;
    /* padding-top: 15px !important; */
    color: #dea01e !important;
}

.nav-link {
    position: relative;
    letter-spacing: 1px;
    display: inline-block;
    color: #ffa17a !important;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f98383;
    transition: width 0.3s ease-in-out;
}

@keyframes appear {
    from {
        opacity: 0;
        filter: blur(0px);
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
        filter: blur(2px);
    }
}

.card {
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.Rating{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.nav-link:hover::after {
    width: 100%;
}


.nav-link:hover {
    color: #f98383 !important;

}

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #ffa17a !important;
    transition: color 0.3s ease-in-out;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #f98383;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-link:hover {
    color: #f98383 !important;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.navbar-brand {
    color: #2fad8c !important;
    font-family: 'RestoHeader', sans-serif !important;
    font-size: 30px !important;
    padding-left: 30px !important;
}

.btn btn-outline-success {
    background-color: #1f5063 !important;
}

.carousel,
.carousel-inner,
.carousel-item {
    width: 85vh;
    height: auto;
    float: right;
}

.form-control {
    /* background-color: #1f5063 !important; */
    /* color: white !important; */
    border: none !important;
    border-radius: 0px !important;
    font-family: 'searchbar-btn', sans-serif !important;
    font-size: 20px !important;
    border-radius: 20px !important;
}

.btn {
    background-color: #1f5063 !important;
    color: white !important;
    border: none !important;
    border-radius: 0px !important;
    font-family: 'searchbar-btn', sans-serif !important;
    font-size: 20px !important;
    border-radius: 20px !important;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
    filter: blur(8px);
    transition: filter 0.1s ease-in-out;
}

.carousel-item.active img {
    filter: blur(0px);
}

.carousel-item active {
    padding-bottom: 20px;
    width: 300px;
    bottom: 20px;
    height: auto;
    left: 100px;
}

.carousel-control-prev {
    top: 800px !important;
    margin-left: 200px !important;
}

.carousel-control-next {
    top: 800px !important;
    margin-right: 200px !important;
}

.carousel-control-next-icon {
    bottom: 290px;
    left: 240px;
    position: absolute;
}

.carousel-control-prev-icon {
    bottom: 290px;
    left: -170px;
    position: absolute;
}

.container-fluid-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.dish-details {
    width: 40%;
    color: white;
    position: relative;
    left: 100px;
    font-family: 'Arial', sans-serif;
}

.iconhome {
    color: #dea01e !important;
    font-size: 50px !important;
    display: flex !important;
}

.carousel {
    width: 40%;
}

.carousel-item.active img {
    filter: blur(0px);
}

#dish-title {
    font-family: 'dishheader', sans-serif !important;
    font-size: 100px !important;
    color: #dea01e !important;
    text-align: center !important;
    top: 20px !important;
}

#dish-description {
    font-family: 'dishDetails', sans-serif !important;
    font-size: 30px !important;
    color: #3c9152 !important;
    text-align: center !important;
    top: 20px !important;
}

#dish-price {
    font-family: 'dishDetails', sans-serif !important;
    font-size: 30px !important;
    color: #3c9152 !important;
    text-align: center !important;
    top: 20px !important;
}

#dish-ingredients {
    font-family: 'dishDetails', sans-serif !important;
    font-size: 30px !important;
    color: #3c9152 !important;
    text-align: center !important;
    top: 20px !important;
}

.back-to-home {
    height: auto;
    width: 50px;
    position: relative;
    left: 0;
    top: 0;
    cursor: pointer;
}

@keyframes rotateImage {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotating-image {
    animation: rotateImage 120s linear infinite;
}

@media (max-width: 992px) {
    .navbar-nav {
        display: flex !important;
        flex-direction: row !important;
        position: fixed;
        left: 83px;
        top: 137px;
        width: 40.3rem;
    }

    .navbar-collapse {
        justify-content: center;
    }

    .nav-item {
        padding-top: 0 !important;
    }

    .nav-link {
        font-size: 20px !important;
    }

    .header {
        padding-top: 10px !important;
    }

    .dish-details {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
    }

    .search-form {
        padding-top: 10px;
        width: 40.3rem;
        padding-right: 61px;
    }
}